<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Mission to Mars - Scrape</title>
  <meta name="viewport" content="width=device=width, initial-scale=1" />
  <!-- Bootstrap CSS -->
  <link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  />
  <!-- href index.css styling file -->
  <link rel="stylesheet" href="../static/css/index.css" />
</head>

<body>
  <div class="parallax-header text-center">
    <h1>Mission to Mars</h1>
    <a class="btn btn-primary" style="background-color: #5e0925;" href="/scrape" role="button">Scrape New Data</a>
  </div>

  <!--- Mars News title and paragraph scraping-->
  <div class="row">
    <div class="col-md-12">
      <h2 class="heading"><strong>Latest Mars News</strong></h2>
      <h4 class="title">{{mars_info.article_title}}</h4>
      <p>{{mars_info.article_paragraph}}</p>
    </div>
  </div>

  <!--- Featured Image Scraping -->
  <div class="row">
    <div class="col-md-6">
      <h2 class="heading1"><strong>Featured Mars Image</strong></h2>
      <br />
        <img
          src="{{mars_info.featured_image_url}}"
          style="width: 100%"
          alt="{{mars_info.featured_image_url}}"
        />
    </div>


  <!-- Mars Facts Scraping -->
    <div class="col-md-6">
      <h2 class="heading2"><strong>Mars Profile - <br />
      facts about the red planet</strong></h2>
      <h3>{{mars_info.fact_table|safe}}</h3>
    </div>
  </div>

  <!-- Mars Hemispheres Scraping -->
  <div class="row">
    <h1 class="heading3"><strong>The Four Hemispheres of Mars</strong></h1>
    <div class="col-md-3" style="margin-bottom: 10px;">
      <span class="border">
        <img
          src="{{mars_info.cerberus_image}}"
          style="width: 100%;"
          alt="{{mars_info.cerberus_title}}"
        />
        <h2><strong>Cerberus Hemisphere</strong></h2>
      </span>
    </div>
    <div class="col-md-3" style="margin-bottom: 10px;">
      <span class="border">
        <img
          src="{{mars_info.schiaparelli_image}}"
          style="width: 100%;"
          alt="{{mars_info.schiaparelli_title}}"
        />
        <h2><span>Schiaparelli Hemisphere</span></h2>
      </span>
    </div>
    <div class="col-md-3" style="margin-bottom: 10px;">
      <span class="border">
        <img
          src="{{mars_info.syrtis_major_image}}"
          style="width: 100%;"
          alt="{{mars_info.syrtis_major_title}}"
        />
        <h2><span>Syrtis Major Hemisphere</span></h2>
      </span>
    </div>
    <div class="col-md-3" style="margin-bottom: 10px;">
      <span class="border">
        <img
          src="{{mars_info.valles_marineris_image}}"
          style="width: 100%;"
          alt="{{mars_info.valles_marineris_title}}"
        />
        <h2><strong>Valles Marineris Hemisphere</strong></h2>
      </span>
    </div>
    <script src="../static/python/scrape_mars.py"></script>
    <script src="../static/python/app.py"></script>
  </div>

</body>
</html>