html,
body {
    background-color: #5e0925;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Styling the header parallax */
.parallax-header {
    background-image: url("../Images/mars1.jpeg");
    min-height: 450px;
    margin-top: 2px;
    margin: 0;
    padding: 10px;
    background-attachment: relative;
    background-position: top;
    background-size: cover;
}

.parallax-header h1 {
    position: relative;
    text-align: center;
    top: 150px;
    text-decoration: bold;
    font-size: 75px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.parallax-header a {
    position: relative;
    top: 150px;
}

h2.heading {
    position: relative;
    color: white;
    left: 100px;
    top: 10px;
}

h4.title {
    position: relative;
    color: white;
    left: 100px;
    top: 30px;
}

p {
    position: relative;
    color: white;
    left: 100px;
    top: 50px;
}

h2.heading1 {
    position: relative;
    color: white;
    left: 100px;
    top: 80px;
}

h2.heading2 {
    position: relative;
    color: white;
    left: 700px;
    top: 5px;
}

h3 {
    position: relative;
    color: white;
    left: 625px;
    top: 5px;
}

h1.heading3 {
    position: relative;
    color: white;
    top: 100px;
    text-align: center;
}

img.h2 {
    position: relative;
    color: white;
    top: 100px;
    text-align: center;
}

.border {
    position: relative;
    top: 100px;
    color: white;
}